################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/obj/Debug/net7.0
/Shared/bin/Debug/net7.0
/Shared/obj/Debug/net7.0
/Client/bin/Debug/net7.0
/Server/bin/Debug/net7.0
/Calculator.Tests/obj/Debug/net7.0
/Client/obj/Debug/net7.0
